@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.notification-badge {
  font-family: "PT Sans";
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

.header-button {
  width: 160px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
}


.main-index {
  background-image: url("../images/background-index.png");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.advantages {
  background: #ffffff;
  max-width: 1200px;
  margin-top: 72px;
}


.advantages-lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.advantages-lead-reason {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.advantages-item {
  background: #82B3D3;
  width: 1200pxpx;
  height: 385pxpx;
}

.advantages-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-discription {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.advantages-item2 {
  background: #83B3D31F;
  width: 400pxpx;
  height: 385pxpx;
}

.advantages-title2 {
  font-family: PT Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  text-transform: uppercase;
}

.advantages-discription2 {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.advantages-item3 {
  background: #83B3D333;
  width: 400pxpx;
  height: 385pxpx;
}

.advantages-item4 {
  background: #83B3D31F;
  width: 400pxpx;
  height: 385pxpx;
}


.infrastructure-lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.infrastructure-lead-reason {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.infrastructure-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.infrastructure-discription {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.infrastructure-item1 {
  background: #83B3D31F;

}

.infrastructure-item2 {
  background: #ffffff33;
  }

  .infrastructure-item3 {
    background: #83B3D31F;
    }

.search {
  width: 1200;
  background-color: #FFFFFF;
  color: #000;
}



.search-title {
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-discription {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-button {
  width: 376px;
height: 52px;
padding: 8px 50px 8px 50px;
border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
}


/* subscribe index*/

.subscribe-index {
  background-image: url("../images/background-subscribe.png");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.subscribe-lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-lead-reason {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 0px 4px 4px 0px;
  border: #82B3D3;
  background: #82B3D3;
  text-align: center;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}


/* page-footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-phone {
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}




/*УНИКАЛЬНЫЕ СЕЛЕКТОРЫ СТРАНИЦЫ КАТАЛОГ*/

.main-inner {
  background-image: url("../images/background-filters.png");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.inner-header-title {
  font-family: "PT Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.breadcrumbs {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.breadcrumbs-link {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.catalog-products {
  background: #ffffff;
  max-width: 1200px;
  padding-top: 50px;
}

.catalog-filter-title {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.catalog-filter-list {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.catalog-filter-submit {
  font-family: "PT Sans";
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  color: #ffffff;
  background: #82B3D3;
  border: #82B3D3;
  text-transform: uppercase;
}

.catalog-filter-reset {
  font-family: "PT Sans";
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  color: #FFFFFF;
  border: none;
  background-color: rgba(28, 28, 28, 0);
  text-transform: uppercase;
}

/*КАРТОЧКИ ОТЕЛЕЙ*/

.product-card {
  width: 340px;
  height: auto;
  padding: 20px 0px 0px 0px;
  gap: 16px;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid #E5E5E5;
}

.product-card-link {
  width: 300px;
  height: 28px;
  top: 248px;
  left: 20px;
  gap: 0px;
}

.product-card-type {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.product-card-price {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.product-card-button {
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.add-favorite-button {
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.favorite-button {
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}

/*пагинация*/



.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  opacity: 0px;
  background: #82B3D3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link-active {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  opacity: 0px;
  color: #000;
  background: #F2F2F2;
}


/* subscribe catalog*/

.subscribe-catalog {
  width: 1200;
  background-color: #FFFFFF;
  color: #000;
}

.subscribe-catalog-lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-catalog-lead-reason {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
