@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0 0 15px 0 #00000033;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* КНОПКИ */

/* BLUE */

.blue {
  fill: #83B3D3;
}
.blue:hover {
  fill: #68A2CA;
}
.blue:focus {
  fill: #68A2CA;
}
.blue:active {
  fill: #68A2CA4D;
}

/* BUTTON-BLUE */

.button-blue {
  background: #83B3D3;
}
.button-blue:hover {
  background: #68A2CA;
}
.button-blue:focus {
  background: #68A2CA;
}
.button-blue:active {
  background: #68A2CA;
  color: #FFFFFF4D;
}
.button-blue:disabled {
  background: #E5E5E5;
}

/* BUTTON-BRAUN */

.button-braun {
  background: #756157;
}
.button-braun:hover {
  background: #615048;
}
.button-braun:focus {
  background: #615048;
}
.button-braun:active {
  background: #756157;
  color: #FFFFFF4D;
}
.button-braun:disabled {
  background: #E5E5E5;
}


/* BUTTON-GREEN */

.button-green {
  background: #7DB54F;
}
.button-green:hover {
  background: #6C9E42;
}
.button-green:focus {
  background: #6C9E42;
}
.button-green:active {
  background: #7DB54F;
  color: #FFFFFF4D;
}
.button-green:disabled {
  background: #E5E5E5;
}


.breadcrumbs-link {
  color: white;
  fill: white;
}

.breadcrumbs-link:hover {
  color: #FFFFFF99;
  fill: #FFFFFF99;
}

.breadcrumbs-link:focus {
  color: white;
  fill: white;
}

.breadcrumbs-link:hover {
  color: #FFFFFF4D;
  fill: #FFFFFF4D;
}

/* Pages */

.header {
  color: #000000;
  background-color: #ffffff;
  min-height: 64px;
}

.navigation {
  display: flex;
  margin: 0;
  column-gap: 30px;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
  position: relative;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 590px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 16px;
}

.underline::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}


.navigation-user {
  max-width: 400px;
  margin-right: 70px;
  margin-left: auto;
}


.navigation-user .navigation-link {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}


.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;

}


.notification-badge {
  display: block;
  position: relative;
  top: -11px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}

.header-button {
  display: block;
  margin-right: 0;
  margin-left: 20px;
  margin-top: 14px;
  padding: 8px 34px 8px 34px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  /* background: #756157; */
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  flex-grow: 1;
  margin-top: -10px;
}

.main-index {
  background-color: #82B3D3;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/background-index.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.background-border {
  margin-bottom: -4px;
}

.advantages {
  background: #ffffff;
  margin: 0;
  padding: 0;

}

.advantages-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 69px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 0;
}

.advantages-lead-reason {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 90px;
  margin: 0;
  color: #333333;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
  max-width: 1200px;
  justify-content: start;
}

.advantages-container {
  display: flex;
  align-items: center;
  background: #82B3D3;
}

.advantages-container-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 102px 85px;
}

.without-img {
  padding: 113px 85px;
  position: relative;
}

.without-img::before {
  position: absolute;
  bottom: 184px;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  content: "";
}

.with-img {
  position: relative;
}

.with-img::before {
  position: absolute;
  bottom: 195px;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
  content: "";
}


.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 62px 0;
  max-width: 175px;
}

.advantages-discription {
  color: #FFFFFF;
  margin: 0;
  max-width: 230px;
}

.square {
  color: #333333;
}


.advantages-list li:nth-child(odd) {
  background-color: #83B3D31F;
}

.advantages-list li:nth-child(even) {
  background-color: #83B3D333;
}


.infrastructure {
  display: block;
  background: #ffffff;

}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 510px;
  margin-top: 0;
}

.infrastructure-lead-reason {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}


.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
  max-width: 1200px;
  justify-content: space-around;
}

.infrastructure-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 81px 85px;
}

.infrastructure-list li:nth-child(odd) {
  background-color: #83B3D31F;
}

.house {
  background-image: url("../images/icon-house.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
gap: 30px;
width: 230px;
}

.food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
gap: 30px;
width: 230px;
}

.present {
  background-image: url("../images/icon-present.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
gap: 30px;
width: 230px;
}



.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 102px 0 0 0;
  max-width: 175px;
}



.infrastructure-discription {
  text-align: center;
  margin: 0;
  max-width: 230px;
}



.search {
  background-color: #FFFFFF;
  text-align: center;
  height: 406px;
  padding: 0 auto;
}

.search-title {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 600px;
}

.search-discription {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 65px;
  color: #333333;
}

.search-button {
  display: inline-block;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  /* background: #756157; */
  text-transform: uppercase;
  text-decoration: none;
}


/* subscribe index*/

.subscribe-index {
  background-image: url("../images/background-subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 96px 258px 104px;
}

.subscribe {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  /* padding-top: 96px; */
  padding-bottom: 20px;
}

.subscribe-reason {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 475px;
  padding-bottom: 54px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
}

input {
  border-radius: 4px 0 0 4px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  background-color: #F2F2F2;
}

placeholder {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 20px;
}

.subscribe-button {
  height: 52px;
  padding: 8px 50px 8px 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}


/* page-footer */

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.footer-social-link {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.footer-phone {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.footer-phone:hover {
  color:#756157;
}

.footer-phone:focus {
  color:#756157;
}

.footer-phone:active {
  color:#7561574D;
}

.copyright {
  position: relative;
  display: block;
  width: 115px;
  height: 33px;
  fill:#000000;
}

.copyright:hover {
  fill:#756157;
}

.copyright:focus {
  fill:#756157;
}

.copyright:active {
  fill:#7561574D;
}

.htmlacademy-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

/*УНИКАЛЬНЫЕ СЕЛЕКТОРЫ СТРАНИЦЫ КАТАЛОГ*/

.main-inner {
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.filters {
  display: block;
  background-image: url("../images/background-filters.png");
  background-size: cover;
  background-color: #85b6d675;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 0;
  gap: 10px;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}


.filters-columns {
  display: flex;
  justify-content: space-between;
}

.filters-columns-section {
  border: none;
  display: flex;
}

.filters-columns-section:first-child {
  margin-right: 140px;
}

.filters-columns-section fieldset:nth-child(1) {
  margin-right: 70px;
}

.catalog-filter-group {
  border: none;
  min-width: 150px;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 32px;
}

.catalog-filter-list {
  max-width: 160px;
  list-style-type: none;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-filter-money {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-container {
  display: grid;
  padding: 0;
  margin-right: 0;
  margin-top: auto;
}

.catalog-filter-submit {
  font-family: "Pt sans", sans-serif, Arial;
  font-size: 16px;
  font-weight: 700;
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  color: #ffffff;
  background: #82B3D3;
  border: #82B3D3;
  text-transform: uppercase;
  margin-bottom: 32px;
  cursor: pointer;
}

.catalog-filter-reset {
  font-family: "Pt sans", sans-serif, Arial;
  font-size: 16px;
  font-weight: 700;
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  background-color: rgba(28, 28, 28, 0);
  text-transform: uppercase;
  cursor: pointer;
}


.catalog-products {
  background: #ffffff;
  padding: 50px 70px 60px 70px;
  align-items: center;

}


.catalog-products-container {
  display: flex;
  align-items: center;
  max-height: 49px;
  margin-bottom: 40px;
}

.catalog-products-title {
  font-family: "Pt Sans", sans-serif, Arial;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 200px 0 0;
  text-transform: uppercase;
}


.sorting-type {
  margin-right: 70px;
}

.select-control {
  display: flex;
  width: 290px;
  padding: 10px 12px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 2px #E5E5E5;
  font-family: "Pt Sans", sans-serif, Arial;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  cursor: pointer;
}

.select-control:hover {
  box-shadow: 0 0 0 2px #68A2CA;
}

.select-control:focus {
  box-shadow: 0 0 0 2px #68A2CA;
}

.select-control:disabled {
  box-shadow: 0 0 0 2px #0000004D;
  color:#0000004D;
}

/* option {
  font-family: "Pt Sans", sans-serif, Arial;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
} */

.view-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}



.view-button-link {
  background-color: #ffffff;
  padding: 10px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.view-button-link:hover {
  border-color: #000000;
}

.view-button-link:focus {
  box-shadow: inset 0 0 0 2px #68A2CA;
}

.view-button-link:active {
  border-color: #000;
}



/*КАРТОЧКИ ОТЕЛЕЙ*/


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 20px;
  align-items: flex-start;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  box-sizing: border-box;
  padding: 20px;
  gap: 16px 20px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
  list-style-type: none;
}


.product-card-title {
  line-height: 100%;
  margin: 0;
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
}

.product-card-link {
  display: grid;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  text-decoration: none;
}


.product-card-type {
  text-align: left;
  line-height: 100%;
  margin: 0;
}

.product-card-price {
  text-align: right;
  line-height: 100%;
  margin: 0;
}

.product-card-button {
  font-family: "Pt sans", sans-serif, Arial;
  padding: 8px 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.product-card-stars-4 {
  background-image: url("../images/Star-4.png");
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
}

.product-card-stars-3 {
  background-image: url("../images/Star-3.png");
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
}

.product-card-stars-2 {
  background-image: url("../images/Star-2.png");
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
}

.product-card-rating {
  padding: 9px 22px;
  margin: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
}

/*пагинация*/

.pagination {
position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  max-width: 1060px;
  gap: 8px;
  list-style-type: none;
}


.pagination::after {
  position: absolute;
  bottom: 100px;
  width: 1060px;
  height: 1px;
  background-color: #E5E5E5;
  content: "";
}


.pagination-item {
  position: relative;
}


.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  background: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  max-width: 60px;
  padding: 12px 24px;
}



.active {
  color: #000;
  background: #F2F2F2;
}

.last {
  padding: 12px 19px;
}

.pagination-text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  background: #ffffff;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  padding: 16px 22px;
}

/* subscribe catalog*/

.subscribe-catalog {
  padding: 96px 258px 104px;
  background-color: #FFFFFF;
  color: #000;
  margin: 0 auto;
}

.black {
  color: #000;
}
